@font-face {
  font-family: 'ITC Avant Garde Std';
  src: url('/fonts/ITCAvantGardeStd-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

:root {
  --bg-color: #f1f1f1;
  --text-color: #1a1a1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'ITC Avant Garde Std', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 20px;
}
